<h1>Teams</h1>
<br>



<% if current_user.admin? %>
	<ol class="microposts">
		<%= render 'allteams' %>
	</ol>
<%else%>

 <table class="table">
    <thead class="thead-inverse">
      <tr>
	  <th>#</th>
        <th> Team </th>
		</tr>
		</thead>
		<tbody>
 
		<%= render @teams %>
		</tbody>
		</table>
      
<% end %>
