<!DOCTYPE html>
<% provide(:title, "Home") %>
<html>
  <head>
     <title>Judging contest</title>
  </head>
  <body>

    <div class="center jumbotron">
  <h1>Welcome to code contest</h1>
  <h2>
	Judges please signup here
  </h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
  </body>
</html>		